html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #a0b7e2, #8c8bde);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 4rem 0;
  color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}