.Layout {
    max-width: 120rem;
    margin: auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 8px #333;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    & footer {
        padding: 1rem;
        background-color: #8e7dd0;
        color: #fff;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        & p {
            font-size: 1.4rem;
        }
    }
}